* {
  margin: 0;
  padding: 0;
  font-style: italic;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-image: linear-gradient(  135deg, green,blue);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.head {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 40px;
  color: maroon;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-style: normal;
  text-shadow: 2px 2px 7px;
}

.type-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 200px;
  border-style: solid;
  border-color: rgb(113, 101, 101);
  border-radius: 5cap;
  background-color: transparent;
  font-size: medium;
  color: rgb(204, 202, 202);
  box-shadow: 1px 1px 7px rgb(93, 90, 90);
}

.type-btn:focus {
  outline: none;
  background-color: transparent;
}

.add-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-radius: 5cap;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  border-color: rgb(97, 96, 96);
  color: rgb(176, 186, 196);
  margin-left: 20px;
}
.add-btn:hover {
  background-color: rgb(202, 196, 196);
  transition: 0.5s;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 4px rgb(84, 84, 84);
}

.head-line {
  display: flex;
  justify-content: center;
}

.list-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  row-gap: 20px;
  margin-top: 50px;
}

.delete2-btn {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(204, 5, 5);
  border-style: none;
  border-radius: 100%;
  margin-left: 20px;
  font-weight: 700;
  cursor: pointer;
  font-size: 10px;
  color: white;
}

.delete2-btn:hover {
  opacity: 0.8;
  transition: 0.5s;
}

ul {
  list-style-position: inside;
}
